body{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    height: 400vh;
    box-sizing: border-box;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}
.intro h2{
    color: white;
    margin: 0%;
    padding: 0%;
    margin-bottom: 20px;
}
.intro{
    font-family:"Playwrite AT", cursive;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    margin: auto;
    text-align: center;
    height: 50px;
}
.iconfale{
    margin-top: 10px;
    width: 20px;
    height: 20px;
    color: white;
}
header{
    width: 1200px;
    height: 50;
    padding-left:50px;
    padding-right: 50px;
    display: flex;
    height: 50px;
    margin: auto;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}
ul li{
    display: inline-block;
    list-style: none;
    padding-left: 100px;

}
a{
    text-decoration: none;
    color: black;
}
.search{
    width: 240px;
    display: flex;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    height: 35px;
}
#searchinput{
    border: none;
    outline: none;
    width: 200px;
    border-radius:10px ;
    height: 30px;
}
.fa-solid {
    margin-top: 8px;
    height: 30px;
    text-align: center;
    width: 30px;
    margin-bottom: 10px;
}
header ul li  a{
    color: rgb(255, 255, 255);
}
.navbar{
    width: 100%;

}
.logo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
.logo:hover{
    color: red;
    animation-duration: 1000ms;
}
header ul li  a:hover{
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content{
    padding: 10px;
    width: 1200px;
    height: 240px;
    justify-content: space-evenly;
    display: flex;
    margin: auto;
}

.div1{
    width: 350px;
    height: 200px;
    border-radius: 20px;
    color: black;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding: 20px;
}
.div2{
    width: 350px;
    height: 200px;
    border-radius: 20px;
    color: black;
    padding: 20px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
.div3{
    width: 350px;
    height: 200px;
    border-radius: 20px;
    color: black;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    padding: 20px;
}
.content2{
    padding: 10px;
    width: 1200px;
    height: 240px;
    justify-content: space-evenly;
    display: flex;
    margin: auto;
}
.div4{
    width: 350px;
    height: 200px;
    border-radius: 20px;
    color: black;
    padding: 20px;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

}
.div5{
    width: 350px;
    height: 200px;
    border-radius: 20px;
    color: black;
    padding: 20px;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}
.div6{
    width: 350px;
    height: 200px;
    border-radius: 20px;
    color: black;
    padding: 20px;
    background-color: #3EECAC;
    background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);

}
.button1,.button2,.button3,.button4,.button5,.button6{
    width: 100px;
    border-radius: 20px;
    height: 35px;
    outline: none;
    border: none;
}
.button{
    margin-top: 100px;
    width: 1200px;
    height: 500px;
    margin-left: 40px;
    /* padding: 100; */
}
.buttonsetone{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    width: 800px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    height: 200px;
    margin-left:200px ;
    margin-bottom: 50px;
    /* margin: auto; */
}
.buttonset2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    width: 800px;
    margin-left: 200px;
    background-color: #7ca6f0;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    height: 200px;
    /* margin: auto; */
}